

{% block body %}
<div style="background-color: pink; padding: 20px;">
 <h1 style="text-align: center; text-decoration: underline;">Ajouter un Utilisateur</h1>
   
    <p>Veuillez remplir les informations ci-dessous :</p>

    {{ form_start(form) }}
        {{ form_widget(form) }}
       
    {{ form_end(form) }}
    
    <a href="{{ path('afficher_utilisateur') }}">Retour à la liste des utilisateurs</a>
    </div>
{% endblock %}