 
<div style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); max-width: 600px; margin: 0 auto;">
    <h1 style="text-align: center; text-decoration: underline; color: #333;">Formulaire d'Inscription</h1>
    <p style="text-align: center; color: #555;">Veuillez remplir les informations ci-dessous pour vous inscrire.</p>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <p style="text-align: center; margin-top: 20px;">Pas encore de compte ? <a href="{{ path('app_login') }}" style="color: #28a745; text-decoration: none;">Vous avez un compte ? Connectez-vous</a></p>
</div>