 

    
    <div style="background-color: pink; padding: 20px;">
 <h1 style="text-align: center; text-decoration: underline;">Formulaire d'Inscription</h1>
 <p>Veuillez remplir les informations ci-dessous pour vous inscrire.</p>

                          {{form(form)}}


<p>Pas encore de compte ? <a href="{{ path('app_login') }}">vous avez une compte connectez-vous</a></p>

                          </div>